AlexNet/data
AlexNet/data_doors
AlexNet/data_faces
AlexNet/old
AlexNet/semi

BiSeNet-master/data

datasets

Deeplabv3/goprotest1.mp4
Deeplabv3/goprotest2.mp4
Deeplabv3/goprotest3.mp4
Deeplabv3/outputs

Deeplabv3_custom/CFExp
Deeplabv3_custom/CrackForest
Deeplabv3_custom/Doors
Deeplabv3_custom/DoorsExpNew
Deeplabv3_custom/DoorsMedium
Deeplabv3_custom/DoorsMimic
Deeplabv3_custom/DoorsMimicClosed
Deeplabv3_custom/DoorsMimicClosedOutput
Deeplabv3_custom/DoorsMimicOutput
Deeplabv3_custom/DoorsSmall
Deeplabv3_custom/DoorsSmallExp
Deeplabv3_custom/TestDoors

Semantic-Segmentation-BiSeNet-master/data
Semantic-Segmentation-BiSeNet-master/myvenv
Semantic-Segmentation-BiSeNet-master/model.h5

yolov5-master/video
yolov5-master/runs

labels
NewDoors
